body {
    background-color: #121212;
    background-size: cover;
    font-family: sans-serif;
    font-weight: 550;
    margin-top: 15vh;
    padding: 30px;
}
.mono{
    font-family: Roboto Mono, monospace;
    font-weight: 300;
}
img{
    display: block;
    margin: 0px auto 0px;
}
.w{
    color: rgb(255, 255, 255);
}
.cg{
    color: #A9A9A9;
}
.clg{
    color: #BBBBBB;
}
.tcenter{
    text-align: center;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}
h3{
    color: white;
    text-align: center;
}
.text{
    line-height: 1.2;
}
.mid50{
    margin: 0px 30vw 0px;
}
.smalltext{
    margin: 7px 25vw 0px;
    line-height: 1.2;
    font-size: 15px;
}
#desc {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    margin-top: 30px;
}
#name{
    color: white;
    text-align: center;
    font-size: 90px;
    margin: 0px;
    margin-top: 90px;
}
.tdn{
    text-decoration: none;
}
.cp{
    color: #BB86FC;
}
.cpv1{
    color: #6200EE;
}
.cpv2{
    color: #3700B3;
}
.cs{
    color: #03DAC5;
}
.csv{
    color: #018786;
}


header {
    background-color: #121212;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;    
}

nav{
    margin: auto;
}
header li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    display: inline-block;
    position: relative;
}
header li a {
    color: white;
    text-decoration: none;
}

header li a::before{
    content: '';
    display: block;
    height: 3px;
    margin-left: 50%;
    width: 0%;
    background-color: #03DAC5;
    position: absolute;
    bottom: 0;
    transition: all ease-in-out 300ms;
}
header li a:hover::before{
    width: 100%;
    margin-left: 0%;
}
.active::before{
    margin-left: 0%;
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #03DAC5;
    bottom: 0;
}
.essay{
    text-indent: 45px;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: left;
    line-height: 2;
}
.ref{
    text-indent: -45px;
    padding-left: 45px;
    text-align: left;
    margin-left: 20vw;
    margin-right: 20vw;
}



